.NavBarContainer{
    height: 90px;
    margin-inline: 20px;
    margin-top: 15px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding-inline: 15px;
    /* box-shadow: inset 0px 0px 0px 10px blue; */

}

.LogoImg{
    height: 70px;
    width: 80px;
}

.NavLinks{
    margin-left: auto;
}

.NavLinks a{
    text-decoration: none;
    color: rgb(183, 183, 183);
    font-size: clamp(2rem, 1.495rem + 0.734vw, 2.2rem);
    margin-inline: clamp(2.188rem, -2.543rem + 6.881vw, 4.063rem);
    transition: color 0.3s ease;
}

.NavLinks a:hover{
    color: #197998;
}

.NavLinks a:active{
    color: #be8897;
}

