.ExperienceContainer{
    color: white;
    margin-top: 100px;
    display: flex;
    padding-inline: 20px;
    /* height: 3000px; */
    flex-direction: column;
}

.ExperienceContainer h1{
    margin-inline: auto;
    font-size: 6.5rem;
    color: var(--AccentColor);
    font-weight: 450;
    margin-bottom: 60px;
}
.BackToTop{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.7rem;
    margin-top: 55px;
    line-height:6rem;
}

.arrowIcon{
    animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
}