*{
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

body{
  background-color: rgb(5, 5, 5);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;


}

:root{
  --PrimaryColor: #b4b4b4;
  --AccentColor: rgb(32, 143, 180);


}