*{
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

body{
  /* background-color: rgb(9, 9, 9); */
  margin: 0;
  padding: 0;
  background-image: radial-gradient(circle 900px at 50% 60%, #7d7d7d, #090909,#050505,#080808);


}

:root{
  --PrimaryColor: #b4b4b4;
  --AccentColor: rgb(32, 143, 180);


}