.PageContainer{
    position: relative;
}



.HomePageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100dvh - 105.5px); 
    background-image: radial-gradient(circle 800px at 50% 55%, #7d7d7d, rgb(9, 9, 9),rgb(7, 7, 7),rgb(5, 5, 5));
}
.IntroContainer{
    text-align: center;
    margin-top: 5px;
}
.IntroContainer span{
    display: flex;
    justify-content: center;
}
.IntroContainer h1{
    font-size: 3.5rem;
    color: rgb(220, 220, 220);
    margin-top: 25px;
}

.IntroContainer h3{
    font-size: 2.5rem;
    color:rgb(220, 220, 220);
    margin-top: 20px;
}

.CanvasContainer {
    width: 800px;
    display: flex;
    margin-top: 175px;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
}

